@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.carousel-item-img{
    height: 25em;
    object-fit: cover;
    object-position: 0 80%;
    opacity: 50%;
}

.carousel-caption h2 {
    font-size: 3.5em;
    color: white;
    margin-bottom: 2em;
    
    span{
        color: red;
    }
}

h2, h4{
    text-align: center;
    margin: 2em;
}

.card{
    width: 18rem;
    margin: 2em;
}
/*Altera o formato do card apenas da pagina ator*/
.card_ator{
    width: 100%;
    margin: .3em;
    display: block;
    flex-direction: column;
}

#main-receitas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-img-top{
    height: 15em;
    object-fit: cover;
}

main{
    background-color: black;

    p, h1, h2, h3, h4, a{
        color: white;
    }
}

body{
    background-color: black;
    color: white;
}

.teste{
    background-color: black;
    a{
        color: white;
    }
}

.card-body{
    background-color: grey;
    h5{
        color: white;
    }
}
/*Altera para azul o link da pagina atual*/
.atual_page {

    color: #0D8AFF !important;
}

/*tentativa de alterar o formato e a posicao do botao editar*/
.btn-edit-ator button  {
    right: 90px;
    color: black!important; 
}